<%= form_with model: category , :class => "form" do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Create Category</h3>
  <p type="Name:">
    <%= form.text_field :name , :placeholder => 'Enter the Category of the Blog' %>
  </p>

  <div class="actions">
    <%= form.submit "Create" , :class => "form-button" %>
  </div>
<% end %>
