<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to "BlogApp" , root_path , class: "header" %>
      <% if logged_in? && @current_user.name %>
        <% if logged_in? && @current_user.role_id == 1 %>
          <%= link_to 'Members' , members_path %>
          <%= link_to 'Category' , categories_path %>
        <% end %>
        <%= link_to 'Blogs' , blogs_path %>
        <%= link_to "Log out", logout_path , class: "float-right" , method: "delete" %>
        <span class="float-right pr-5"><%= @current_user.name %></span>
      <% end %>    
    </div>
    <%= yield %>
  </body>
</html>
